@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #EAF0CE;
    --secondary-color: #0A481E;
    --accent1-color: #0AD3FF;
    --accent2-color: #274690;

    --heading-font: Roboto, sans-serif;
    --paragraph-font: Open Sans , sans-serif;

    --nav-background-color: #EAF0CE;
    --nav-link-color: #0A481E;
    --nav-hover-link-color: #0AD3FF;
    --nav-hover-background-color: #274690;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Serif', serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

header {
    background-color: #EAF0CE;
    color: #0A481E;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    margin: 1rem auto;
    border-bottom: 1px solid #274690;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav a {
    color: #0A481E;
    margin: 10px;
    text-decoration: none;
}

main {
    padding: 50px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: left;
    color: #274690;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.hero article img {
    float: right;
    width: 225px;
}

section {
    margin-top: 20px;
}

h2 {
    color: #274690;
    justify-content: center;
}

section p {
    line-height: 1.6;
}

footer {
    background-color: #EAF0CE;
    color: #274690;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: none;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adventures-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.adventure-figure {
    display: flex;
    text-align: center;
    margin: 10px;
    height: 500px;
    margin-bottom: 20px;
}

.adventure-img {
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #0AD3FF
}

.adventure-figure img {
    display: flex;
    max-width: 200px;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.adventures-section h3 {
    text-align: center;
}

h3 {
    color: #033058;
    justify-content: center;
    text-align: center;
}